extends layout

block content

  h1=title


  if media_type=='image'

    img(src='#{url}')

  else

    i.a(href='#{url}') Today's picture is a video or other media. Click here to view.

  p.credit #{credit}
  p.description= explanation
  p.date This is NASA's Astronomy Picture of the day for #{date}.

  p
    a(href ="#{apodurl}") See this image at NASA's site

  include buttons.jade
