// astropix secret jade
extends layout

block content

	h1 Welcome to Astropix, a password protected page!

	p Hello!

	//If user authenticated locally...
	if user.local.username
		p Your username is #{user.local.username}

	p You signed up on #{user.signUpDate)

	if updateMessage.length > 0
		p=updateMessage

	if user.fathersMiddle
		p Your father's middle name is #{user.fathersMiddle}

	if user.mothersMiddle
		p Your mother's middle name is #{user.mothersMiddle}
		
	if user.favNum
		p Your favorite number is #{user.favNum}

	h2 Update secret information

	form(method='post' action='saveSecretInfo')
		label Father's Middle Name
		input(type='text' name='fathersMiddle')
		br
		label Mother's Middel Name
		input(type='text' name='mothersMiddle')
		br
		label Favorite Number
		input(type='number' name='favNum')
		br
		input(type='submit' name='saveData' value='Save data')

	form(action='/goToAstropix' method='get')
		input(type='submit' value='Go To Astropix')
	a(href='/logout') Logout