// astropix secret jade
extends layout

block content

	h1 Welcome to Astropix, a password protected page!

	p Hello!

	//If user authenticated locally...
	if user.local.username
		p Your username is #{user.local.username}

	//If user authenticated via Twitter
	if user.twitter.displayName
		p Your Twitter display name is #{user.twitter.displayName }

	p You signed up on #{user.signUpDate)

	if updateMessage.length > 0
		p=updateMessage

	if user.favoriteColor
		p Your favorite color is #{user.favoriteColor}

	if user.luckyNumber
		p Your lucky number is #{user.luckyNumber}

	h2 Update secret information

	form(method='post' action='saveSecretInfo')
		label Favorite Color
		input(type='text' name='favoriteColor')
		br
		label Lucky Number
		input(type='number' name='luckyNumber')
		br
		input(type='submit' name='saveData' value='Save data')


	a(href='/logout') Logout